body {
  font: 1rem Muli;
}

h1 {
  font: normal 4.5rem 'Yanone Kaffeesatz';
  margin-top: 0;
  margin-bottom: 1rem;
}

header h2 {
  font: normal 3.5rem 'Yanone Kaffeesatz';
  margin-top: 0;
  margin-bottom: 0.75rem;
}

header a {
  color: black;
  text-decoration: none;
}

header {
  float: left;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 25rem;
}

header:hover {
  background-color: #edd1e5;
}

header ul {
  padding: 0;
  list-style-position: inside;
}

footer {
  clear: both;
}

#main {
  float: left;
  width: 80%;
  margin-left: 20px;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  width: 15%;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
  float: left;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}
