<footer>
  Hosted by <a href="https://about.gitlab.com/features/pages/">GitLab Pages</a>.
  Source can be found at <a href="https://gitlab.com/gitlab-org/group-conversations">https://gitlab.com/gitlab-org/group-conversations</a>.
</footer>
