<div id="sidebar">
  <a href="<%= @config[:base_url] %>/">Home</a>

  <h2>Groups</h2>
  <ul>
    <li><a href="<%= @config[:base_url] %>/backend-plan/">Plan</a></li>
    <li><a href="<%= @config[:base_url] %>/edge/">Edge</a></li>
  </ul>

  <h2>Documentation</h2>
  <ul>
    <li><a href="https://about.gitlab.com/handbook/people-operations/group-conversations/">Group Conversations</a></li>
    <li><a href="https://about.gitlab.com/handbook/">Team Handbook</a></li>
  </ul>
</div>
