<h1>Edge updates</h1>

<header>
  <a href="https://docs.google.com/presentation/d/1EB0kTiVsFp-JnCIBJUUqW1lVlyJcF2TDu-PTw2jRc2M/edit?usp=sharing">
    <h2>20 March 2018</h2>
    <ul>
      <li>TBD</li>
      <li>TBD</li>
      <li>TBD</li>
    </ul>
  </a>
</header>

<header>
  <a href="https://docs.google.com/presentation/d/1uCyGlUF_rDKvN1ZqENDrpuZFCxYjh1fLp3Fso1Y7S4A/edit?usp=sharing">
    <h2>13 February 2018</h2>
    <ul>
      <li>Welcome Jacopo Beschi to the core team!</li>
      <li>CE pipelines run in 30-35 minutes on average</li>
      <li>We merged 90 MRs from the community in 10.5</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-01-09/">
    <h2>09 January 2018</h2>
    <ul>
      <li>James is a Merge Request Coach!</li>
      <li>The branches page is 2x faster compared to 10.1</li>
      <li>Our community seem to contribute less</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-12-05/">
    <h2>05 December 2017</h2>
    <ul>
      <li>Welcome Takuya Noguchi to the core team</li>
      <li><code>gitlab-triage</code> can be used in any project</li>
      <li>CE->EE merges are now automated</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-10-31/">
    <h2>31 October 2017</h2>
    <ul>
      <li>The Edge team is now part of the Quality department</li>
      <li>High-CPU droplets</li>
      <li>Q4 OKRs</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-09-26/">
    <h2>26 September 2017</h2>
    <ul>
      <li>Manual job to preview documentation changes</li>
      <li>A tale of flaky tests</li>
      <li>Issue triage automation</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-08-22/">
    <h2>22 August 2017</h2>
    <ul>
      <li>Project test factories default to non-repo project</li>
      <li>Flaky specs are now detected and tracked</li>
      <li>Add initial experimental external ODB support</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2017-07-18/">
    <h2>18 July 2017</h2>
    <ul>
      <li>Faster feature tests</li>
      <li>Run QA for any Merge Request</li>
      <li>Q3 OKRs</li>
    </ul>
  </a>
</header>

<header>
  <a href="https://docs.google.com/presentation/d/1V-4CPO35cEvVQFBuEejnEXcohwFPCFNa4utTfDoK4RU/edit?usp=sharing">
    <h2>13 June 2017</h2>
    <ul>
      <li>Issue bashes landing page</li>
      <li>Sped up the booting of GitLab</li>
      <li>Performance Bar</li>
    </ul>
  </a>
</header>

<header>
  <a href="https://docs.google.com/presentation/d/1kzUNKcLa2X5-Jze8y7Z8Jv_8NKOhBCPeIv1QwbWQwbI/edit?usp=sharing">
    <h2>09 May 2017</h2>
    <ul>
      <li>Slash commands outcome in Markdown preview</li>
      <li>Running the test suite against PostgreSQL</li>
      <li>GitLab QA is catching bugs</li>
    </ul>
  </a>
</header>

<header>
  <a href="https://docs.google.com/presentation/d/1VYtDk4QP120qljAAjj2y_PkGjrV6D25oI00i_PVy_E0/edit?usp=sharing">
    <h2>04 April 2017</h2>
    <ul>
      <li>Welcome blackst0ne to the core team</li>
      <li>Second Issue Bash</li>
      <li>Document testing best practices</li>
    </ul>
  </a>
</header>

<header>
  <a href="https://docs.google.com/presentation/d/1vye0UeLslPnoMttkmAktASqHoB1QrprS10wU9zhetCY/edit?usp=sharing">
    <h2>28 February 2017</h2>
    <ul>
      <li>The Great Changelog Crisis is over</li>
      <li>Our test suite is now monitored</li>
      <li>CE is now merged into EE daily</li>
    </ul>
  </a>
</header>
