<h1>Plan updates</h1>

<header>
  <a href="./2019-03-19/">
    <h2>19 March 2019</h2>
    <ul>
      <li>Team updates</li>
      <li>Security work</li>
      <li>Blog posts</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2019-01-23/">
    <h2>23 January 2019</h2>
    <ul>
      <li>Epics of epics</li>
      <li>Exchange support</li>
      <li>Import issues</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-11-20/">
    <h2>20 November 2018</h2>
    <ul>
      <li>Team updates</li>
      <li>11.5 accomplishments</li>
      <li>Quality and security</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-09-25/">
    <h2>25 September 2018</h2>
    <ul>
      <li>Brett Walker joins the team</li>
      <li>CommonMark enabled across the board</li>
      <li>Performance improvements</li>
    </ul>
  </a>
</header>

<header>
  <a href="./2018-07-31/">
    <h2>31 July 2018</h2>
    <ul>
      <li>Discussion is now Plan</li>
      <li>Hiring processes</li>
      <li>Performance improvements</li>
    </ul>
  </a>
</header>

<header>
  <a href="../backend-discussion/">
    <h2>Previous updates under Discussion</h2>
  </a>
</header>
